/* Definicija animacije fadeInAnimation */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Stilizacija HTML */
html {
  height: 100%;
  scroll-behavior: smooth;
}

/* Stilizacija telesa */
body {
  background: linear-gradient(180deg, #0f0c29, #302b63);
}

/* Naslovi h1 in h3 */
h1, h3 {
  color: white;
  font-family: DIN Neuzeit Grotesk, Avenir Light;
  text-align: center;
  font-size: 520%;
  text-shadow: 10px 10px 5px rgb(50, 48, 48);
  animation: fadeInAnimation ease 4s;
}

/* Naslov h2 */
h2 {
  color: white;
  font-family: DIN Neuzeit Grotesk, Avenir Light;
  text-align: center;
  margin-top: -3%;
  font-size: 120%;
  animation: fadeInAnimation ease 4s;
}

/* Navigacijska vrstica */
.topnav {
  overflow: hidden;
}

/* Linki v navigacijski vrstici */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  font-family: DIN Neuzeit Grotesk, Avenir Light;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Spreminjanje barve linkov v navigacijski vrstici ob premiku miške */
.topnav a:hover {
  color: wheat;
}

/* Aktivna stran */
.topnav a.active {
  color: #99ccff;
}

/* Element .BG */
.BG {
  width: 100%;
  margin-top: 7%;
  opacity: 100%;
}

/* Stilizacija odstavka */
p {
  color: white;
  text-align: center;
  font-size: 20px;
  animation: fadeInAnimation ease 4s;
}

/* Stilizacija seznamov */
li {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  animation: fadeInAnimation ease 4s;
}

/* Stilizacija .container */
.container {
  margin-top: 4rem;
}

/* Stilizacija obrazca */
.contact-form .form-group {
  margin-bottom: 1.5rem;
}

.contact-form .form-control {
  border-radius: 0;
}

.contact-form .btn-primary {
  border-radius: 0;
}

/* Stilizacija oznake */
label {
  color: white;
  font-size: 20px;
}
